<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="checkout_add_product" instance="Hiecor\PaymentMethod\Observer\CheckoutProductSave"/>
        <observer name="checkout_add_order"  instance="Hiecor\PaymentMethod\Observer\SalesOrder"/>
    </event>
</config>